#experience {
  height: auto;
}
.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* height: 100vh; */
}

.experience__container > div {
  background-color: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__iconAndTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  align-items: center;
}

.text-light {
  margin-left: 2rem;
}
.experience__details-icons {
  margin-top: 6px;
  color: var(--color-primary);
}

/* .experience__frontend,
experience__backend {
  padding-bottom: 0rem;
} */
@media screen and (max-width: 1024px) and (min-height: 600px) {
  /* Your styles for medium-sized devices */
  .experience__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) and (min-height: 400px) {
  /* Your styles for medium-sized devices */
  .experience__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
